@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');
@import url('https://fonts.googleapis.com/css?family=Marcellus');

* {
  box-sizing: border-box;
}

.section {
  padding-right: 8vw;
  padding-top: 10vh;
  padding-bottom: 20vh;
  padding-left: 8vw;
}
.column_1 {
  float: left;
  width: 60%;
  padding: 10px;
  margin-top: 12vh;
  text-align: justify;
  position: relative;

}
.column_2 {
  float: left;
  width: 35%;
  padding: 10px;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.row:after {
  content: '';
  display: table;
  clear: both;
}
@media screen and (max-width: 600px) {
  .column_1 {
    width: 100%;
    padding-left: 8vw;
    margin-top: 0vh;
  }
  .column_2 {
    width: 100vw;
  }

  .row {
    flex-direction: column-reverse;
  }
}

.section_image {
  padding-left: 0.6vw;
  height: 100%;
  object-fit: contain;
  width: 35vw;
}

.section_title {
  display: inline-block;
  position: relative;
  font-family: Marcellus;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 60px;
  color: #fcc907;
  top: 10vh;
  margin-left: 15px;
}

.section_content {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 135%;

  text-align: justify;

  color: #ffffff;
}

.section_button {
  display: flex;
  position: absolute;
  left: 1vw;
  width: 250px;
  bottom: -10vh;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 1.4em;
}
.section_button a {
  text-decoration: none;
}
@media screen and (max-width: 600px) {
  .column_2 {
    padding-left: 0;
  }
  .section {
    padding-bottom: 10vh;
    padding-left: 0;
    text-align: center;
 
  }

  .section_title {
    top: 0;
    padding-left: 0;
    display: block;

    text-align: center;
    padding-left: 8vw;
  }
  .section_button {
    padding-top: 5vh;
    position: relative;
    left: 7vw;
    justify-content: center;
    bottom: 0vh;
  }

  .section_image {
    padding-top: 5vh;
    width: 100vw;
    padding-left: 0;
  }
}

