.section {
  padding-top: clamp(220px, 26vh, 100px);
  background-color: #1b083d;
  position: relative;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 500px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  border-radius: 10px;
  background: white;
  -webkit-box-shadow: 2px 1px 21px -9px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 2px 1px 21px -9px rgba(0, 0, 0, 0.38);
  box-shadow: 2px 1px 21px -9px rgba(0, 0, 0, 0.38);
}
@media only screen and (max-width: 600px) {
  .container {
    width: 90vw;

    align-items: center;
  }
}

input, select, option{
  width: 100%;
  padding: 10px;
  margin: 5px 0 10px 0;
  display: inline-block;
  border: none;
  background: #f7f7f7;
	font-family: Montserrat,Arial, Helvetica, sans-serif;
}

.form_class input,
.form-class select,
.form-class option {
  width: 100%;
  padding: 10px;
  margin: 5px 0 15px 0;
  display: inline-block;
  border: none;
  background: #f7f7f7;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}
.form_class select {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f7f7f7;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}
.form_class button {
  text-align: center !important;

  background-color: #0eb7f4;

  color: white;
  padding: 14px 20px;

  border: none;

  opacity: 1;
  font-size: 16px;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  border-radius: 10px;
  width: 50%;
}

.button_div {
  display: flex;
  width: 100%;
  justify-content: center;
}

.form_class input[type='text']:focus,
.form_class input[type='password']:focus,
.form_class input[type='phone']:focus,
.form_class select:focus {
  background-color: #ddd;
  outline: none;
}
