.section {
  background-color: #fe6263;
  position: relative;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}

.main_title {
  width: 358px;
  height: 58px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 68px;
  text-align: center;
  margin-top: -40px;
  margin-bottom: 20px;
  color: #000000;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 60px 60px 0px 60px;
  width: 800px;
  position: relative;
  top: 50%;
  margin-bottom: 10vh;
  background: #00ccf5;
  border: 2px solid #000000;
  box-shadow: 4px 6px 0px #000000;
  border-radius: 4px;
  align-items: center;
}

/* Full-width input fields */

.form_class input,
.form_class option,
.form_class select {
  width: 70%;
  padding: 15px;
  display: inline-block;
  border: 2px solid #000000;
  background: #f7f7f7;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  margin-bottom: 15px;
}

.form_class button {
  text-align: center !important;
  color: black;
  padding: 14px 20px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  opacity: 1;
  font-size: 16px;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  width: 20%;
  background: #f2ff00;
  border: 2px solid #000000;
  box-shadow: 4px 6px 0px #000000;
  border-radius: 4px;
}

.button_div {
  margin-top: 35px;
}

.form_class input[type='text']:focus,
.form_class input[type='password']:focus,
.form_class input[type='phone']:focus,
.form_class select:focus {
  background-color: #ddd;
  outline: none;
}

.top {
  margin-left: 102px;
  margin-bottom: 28px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 450;
  font-size: 27px;
  line-height: 37px;
  letter-spacing: -0.01em;
  color: #000000;
}

.title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 27px;
  align-items: center;
  color: #000000;
  width: 70%;
}

.star {
  width: 200px;
  height: 144px;
  margin-left: -840px;
  margin-top: -120px;
  position: relative;
}

.cube {
  width: 123px;
  height: 144px;
  margin-left: 800px;
  margin-bottom: -85px;
  position: relative;
}

.submit {
  min-width: fit-content;
}

.submit:hover {
  transform: translate(4px, 6px);
  box-shadow: 0px 0px 0px;
}

@media only screen and (max-width: 1035px) {
  .container {
    width: 90vw;
    align-items: center;
    padding: 60px 0px 50px 0px;
  }

  .star,
  .cube {
    display: none;
  }
  .main_title {
    font-weight: 400;
    font-size: 30px;
  }
  .top {
    margin-left: 20px;
    font-size: 24px;
  }
  .title {
    font-size: 15px;
  }
}

@media only screen and (max-width: 375px) {
  .title {
    font-size: 15px;
  }

  .form_class input,
  .form_class select,
  .form-class option {
    padding: 6px;
  }
  .main_title {
    font-weight: 400;
    font-size: 30px;
  }
  .top {
    margin-left: 20px;
  }
}
