.banner {

}

.image {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
}
.logo_dates {
    position: absolute;
    top: 99px;
    margin: auto;
    width: 50vw;
    right: 0;
    left: 0;
}
.mobile_hero {
    display: none;
}

@media screen and (max-width: 786px) {

    .mobile_hero {
        display: block;
    }
    .image {
        display: none;
    }
    .logo_dates {
        width: 80vw;
    }
  }