.auth_section {
  position: relative;
  display: grid;
  justify-content: center;
  background: #685eda;
  height: 87vh;
}
.auth_section img {
  display: flex;
  width: 22vw;
  position: absolute;
  right: 20%;
  top: 60px;
  justify-content: right;
}
.authenticateButton {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 40%;
  box-sizing: border-box;

  position: absolute;
  width: 30vw;
  height: 71px;
  background: #ffffff;
  border: 2px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  left: 15%;
  filter: drop-shadow(4px 6px 0px #000000);
  
}

.gButton {
  width: 620px;
  height: 71px;
  background: #ffffff;
  border-radius: 50px;
  font-size: 26px;
  opacity: 0.7;
  z-index: -1;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 500;
}

.authenticateButton p {
  font-size: 26px;
  font-family: 'Montserrat';
  color: #000000;
  opacity: 1;
  align-items: center;
  text-align: center;
}

.Avatar1 img {
  position: relative;
}

@media screen and (max-width: 786px) {
  .auth_section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding-left: 0;
    padding: 20px;
    max-height: 140vh;
    height: 140vh;
    /* overflow-x: hidden; */
  }
  .auth_section img {
    width: 60vw;
    min-width: 300px;
    padding: 0;
  }
  .authenticateButton {
    position: relative;
    width: 300px;
    height: 50px;
    left: 0;
    top: 50vh;
    margin: auto;
  }
  .authenticateButton p {
    font-size: 1.0em;
    font-family: 'Montserrat';
    color: #000000;
    opacity: 1;
    align-items: center;
    text-align: center;
  }
  .gButton {
    width: 320px;
    height: 50px;
    background: #ffffff;
    border-radius: 10px;
    font-size: 1em;
    font-weight: 500;
  }
  .Avatar1 img {
    position: relative;
    width: 200px;
    left: 0;
    right: 0;
  }
}

@media screen and (max-width: 350px){
  .auth_section img {
    position: relative;
    width: 200px;
    left: 1%;
  }
}