.parent_wrapper {

  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
}

.position {
  font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 22px;
    color: #121212;
    width: 200px;
    position: relative;
    margin: auto;
    text-align: center;
    margin-top: 10px;
}

.team-card {
  width: 220px;
  height: 330px;
  margin-right: 5%;
  margin-bottom: 5%;
  background: #00CCF5;
  border: 2px solid #000000;
  box-shadow: 4px 8px 0px #000000;
  border-radius: 19px;
}

.team-card:hover {
  box-shadow: 0px 0px 0px;
  transition: all 0.4s ease;
}

.stars{
  position: absolute;
  width: 50px;
  height: 50px;
  float: right;
  top: -11px;
  left: -24px;
  z-index: 1;
  margin: 10px 0px 0px 50px;
  transform: rotate(0deg);
}

.drink{
  position: absolute;
  width: 52px;
  height: 53px;
  float: right;
  top: 191px;
  left: 128px;
  z-index: 1;
  margin: 15px 20px 0px 20px;
}

#cardImg{
  object-fit: cover;
  width: 180px;
  height: 223px;
  margin: 17px 0px 0px 17px;
  overflow: hidden;
  background: #FFFFFF;
  border: 2px solid #000000;
  box-shadow: 4px 0px 0px #000000;
  border-radius: 19px;
  transition: all .5s ease;
}

.cardImg:hover {
  box-shadow: 0px 0px 0px;
  transition: all 0.4s ease;
}

#cardImg img{
  object-fit: cover;
  width: 241px;
  height: 250px;
  background: #FFFFFF;
  border-radius: 19px;
  transition: all .5s ease;
}

#cardImg img:hover {
  transform: scale(1.08);
  opacity: 0.8;
}

/* Add rounded corners to the top left and the top right corner of the image */
/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
  text-align: center;
  background: white;
}

.cardTitle {
  height: 33px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 550;
    font-size: 21px;
    line-height: 33px;
    color: #000000;
    position: relative;
    width: 224px;
    margin-top: 1px;
    text-align: center;
}



@media screen and (max-width: 700px) {
  .team-card {
    /* max-width: calc(45% - 1em); */
    width: 280px;
    height: 370px;
    margin-left: -38px;
    display: flex;
    justify-content: space-between;
  }

  .parent_wrapper{
    width: 100%;
  }

  .cardImg{
    width: 225px;
    height: 250px;
    margin: 33px 0px 0px 21px;

  }

  .stars{
    top: -1px;
    left: -29px;
  }
  .cardImg img{
    width: 235px;
    height: 270px;
  }

  .position{
    width: 280px;
    font-size: 22px;
  }

  .cardTitle{
    position:absolute;
    margin-top: 330px;
    width: 280px;
    font-size: 22px;
  }

  .drink{
    position: absolute;
    top:227px;
    left: 170px;
  }
}

