@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');
@import url('https://fonts.googleapis.com/css?family=Marcellus');

.section {
  background: #1d033e;
  display: flex;
  min-height: 100vh;
  height: 100%;
  flex-direction: column;
  overflow: hidden;
}
@media screen and (max-width: 960px) {
  .section {

  }
  .section_title h1,
  .section_top h2 {
    text-align: center;
    padding-left: 5vw;
  }
  
}
.section_title {

  display: flex;
  flex-direction: column;

  justify-content: center;
  margin-bottom: 7vh;
  top: 12vh;

}

.section_title h1 {
  padding-top: 8vh;


  display: block;
  text-align: center;

  text-transform: uppercase;

  letter-spacing: 1px;
  margin: 5px;
  font-family: Marcellus;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 60px;
  color: #fcc907;
}

.section_top h2 {
  display: block;
  font-family: Marcellus;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 40px;
  color: #fcc907;
  padding-left: 5vw;
  padding-bottom: 5vh;
}
.referral h2 {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: #ffffff;
  padding-bottom: 1vh;
}

.referral span {
  text-transform: uppercase;
  color: #fcc907;
}

.registered_contest h2 {
  padding-top: 7vh;
  font-size: 28px;
  padding-bottom: 0;
}

.contest_cards {
  padding-left: 5vw;
}

.event_cards {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 960px) {
  .event_cards {
    justify-content: space-around;
  }
  .logout_button {
   margin: auto;
  }
  
}

.logout_button {
  padding-left: 5vw;
  padding-top: 5vh;
  margin-top: 20px;
}
