  
 .img {
    object-fit: contain;
    padding: 1rem;
    width: 220px;
    height: 280px;
    transition: all 0.5s ease;
    margin-right: 4%;
    
  }
  
  .img:hover {
    transform: scale(1.08);
    opacity: 0.8;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }

  @media screen and (max-width: 700px) {
    .img{
      margin-right: 0%;
      height: 240px;
      margin-bottom:-2%;
    }
  }