.passes-page {
  background-color: #fff;
  position: relative;
  min-height: 100vh;
  height: 100%;
  overflow: hidden;
  /* padding: 30px; */
  color: #000;
}

.passes-page .pass-header {
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  background: #ff8800;
  width: 100%;
  position: relative;
  height: 30vh;
  margin: auto;
}
.pass-header img {
  margin: 20px;
}
.pass-header .head {
  position: relative;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 128px;
  text-align: center;
  color: #ffffff;
  margin: auto;
  /* border: 3px solid #000000; */
  text-shadow: 4px 8px 0px #000000;
}
.passes-page h1 {
}
.passes-content {
  text-align: left;
  width: 60vw;
  padding: 100px;
  margin: 30px;
}
.passes-content h1 {
  font-family: 'Montserrat';
  font-size: 3.5em;
  font-weight: 600;
  line-height: 51px;
  letter-spacing: 0em;
  text-align: left;
}
.passes-content p {
  text-align: left;
  color: #000;
  font-size: 2em;
  font-family: 'Manrope';
  margin-top: 20px;
  font-weight: 400;
}
.accomodation {
  background: #685EDA;
}
.passes-content-2 {
  text-align: left;
  width: 60vw;
  padding: 100px;
  margin: 30px;
}
.passes-content-2 h1 {
  font-family: 'Montserrat';
  font-size: 3.5em;
  font-weight: 600;
  line-height: 51px;
  letter-spacing: 0em;
  text-align: left;
}
.passes-content-2 p {
  text-align: left;
  color: #000;
  font-size: 2em;
  font-family: 'Manrope';
  margin-top: 20px;
  font-weight: 400;
}
.headerHeading {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 128px;
  line-height: 156px;
  color: #ffffff;
  text-shadow: 4px 8px 0px #000000;
}
.headingk {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  height: 110px;
  margin: 0px;
  margin-bottom: 68px;
  margin-top: 42px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #231f20;
  text-shadow: 1.49153px 2.98305px 0px #000000;
}
.headingImg {
  margin-left: 10px;
  margin-right: 10px;
}
.pass-cards {
  width: 95vw;
  margin-top: 10px;
  margin-left: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 5.5rem;
  padding: 48px;
}
.pass_card {
  width: 400px;
}
.pass-img {
  display: flex;
  align-items: center;
  justify-content: right;
  position: absolute;
  padding: 30px;
  top: 200px;
  width: 40vw;
  right: 40px;
}
.pass-btn {
  display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 36px;
    gap: 4px;
    position: relative;
    width: 200px;
    font-weight: 700;
    top: 20px;
    height: 57px;
    margin: auto;
    background: #F2FF00;
    border: 1px solid #000000;
    box-shadow: 4px 6px 0px #000000;
    border-radius: 4px;
}
.pass-btn:hover {
  transform: translate(4px, 6px);
  box-shadow: 0px 0px 0px;
}
.check {
  margin: auto;
  display: flex;
  justify-content: left;
  align-items: center;
  color: #FFEA00;
  font-weight: 600;
  font-size: 2em;
  font-family: 'Montserrat';
  padding: 30px 30px;
}
.check .checkbox {
  background-color: #fcc907;
  width: 50px;
  height: 26px;
  margin-left: 90px;
  position: relative;
}
.accomodation .pass-img-1 {
  display: flex;
  align-items: center;
  justify-content: right;
  position: absolute;
  padding: 30px;
  top: 1000px;
  width: 40vw;
  right: 20px;
}
.cart-card {
  width: 300px;
}
.price-data {
  position: absolute;
  color: #fcc907;
  font-family: 'Manrope';
  bottom: 5px;
  font-family: 2em;
  display: flex;
}
.cart-container {
  display: flex;
  flex-direction: row;
  float: left;
  width: max(25vw, 300px);
  justify-content: center;
  margin-top: 20px;
  padding-left: 5px;
  padding-bottom: 80px;
}
.add-more-cards {
  width: 300px;
  height: 400px;
  background: transparent;
  border: 2px solid #fcc907;
  border-radius: 10px;
  display: flex;
  padding: 20px;
  color: #fcc907;
  float: right;
  text-align: center;
  position: absolute;
  top: 220px;
  right: 1%;
  font-family: 'Manrope';
}
.payment-modal {
  width: 90vw;
}
.col-12 {
}
.add-more-cards span {
  font-size: 4em;
  margin: 0 auto;
  font-family: 'Manrope';
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-more-cards h3 {
  display: flex;

  font-family: 'Manrope';
  justify-content: center;
  align-items: center;
}
.purchase_details {
  padding-top: 15vh;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.register-form {
  background-color: #1b083d;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  width: max(30%, 300px);
  height: 425px;
  border-radius: 10px;
  box-shadow: 0px 0px 100px #000;
  z-index: 2;
}

.reg-form {
  position: relative;
  top: 70px;
  margin: 40px;
  height: 200px;
}

.text input {
  color: #1b083d;
  width: 100%;
  height: 36px;
  margin: 5px auto;
  border: none;
  outline: none;
}
hr {
  position: relative;
  top: -10px;
  opacity: 0.5;
}
.terms label {
  display: block;
  padding-left: 25px;
  font-family: sans-serif;
  font-size: 12px;
  color: grey;
  text-indent: -18px;
}
.register-button {
  position: absolute;
  top: 100px;
}
.largen:active {
  transform: scale(2);
}
@media screen and (max-width: 900px) {
  .cart-container {
    width: 260px;
  }
  .cart_cards {
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 0 !important;
    margin-right: 30px;
  }
  .add-more-cards {
    width: 300px;
    height: 400px;
    position: relative;
    top: 98%;
    right: 1%;
  }
  .pass-cards {
    width: 50vw;
    margin-top: 30px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 0.5rem;
    padding: 30px;
    justify-content: center;
  }
  .pass_card {
    width: 300px;
    padding: 30px;
  }
  .passes-content {
    text-align: center;
    width: 80vw;
    padding: 0;
    margin: auto;
  }
  .passes-content-2 {
    text-align: center;
    width: 80vw;
    padding: 0;
    margin: auto;
  }

  .passes-content-2 h1 {
    padding-top: 2.25rem;
    line-height: 25px;
    font-size: 2em;
    text-align: left;
  }
  .passes-content-2 p {
  font-size: 1.2em;
  }
  .passes-page .pass-header {
    background: #ff8800;
    width: 100%;
    position: relative;
    height: 25vh;
    margin: auto;
  }
  .headerHeading{
    font-size: 60px;
    text-shadow: 2px 4px 0px #000000;

  }
  .pass-header .head {
    position: relative;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 4em;
    /* line-height: 156px; */
    /* identical to box height */
    top: 30px;
    text-align: center;
    color: #ffffff;
    margin: auto;
    /* border: 3px solid #000000; */
    text-shadow: 4px 4px 0px #000000;
  }
  .passes-content h1 {
    margin-top: 20px;
    text-align: center;
  }
  .passes-content p {
    text-align: center;
    /* color: #fff; */
    font-size: 1.2em;
    font-family: 'Manrope';
    margin-top: 20px;
    width: 80vw;
    margin-bottom: 20px;
  }
  .pass-img {
    display: none;
    align-items: center;
    justify-content: right;
    position: absolute;
    top: 62px;
    right: 95px;
  }
  .pass-img img {
    width: 200px;
  }
  .check {
    text-align: left;
    font-size: 1.5em;
    font-family: 'Montserrat';
    padding: 30px 0px;
  }
  .check .checkbox {
    background-color: #fcc907;
    width: 40px;
    height: 26px;
    margin-left: 60px;
  }
  .checkout_button {
    display: flex;
    position: relative;
    width: 100vw !important;
    justify-content: center;
    padding-bottom: 20px;
    margin-top: 15px;
    margin-left: 6vw !important;
    right: 10px !important;

    width: 30vw;
    padding-left: 10vw;
  }
  .purchase_details {
    padding-top: 15vh;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .headerImg{
    width: 10%;
  }
}

.cart_cards {
  display: flex;
  /* padding: 2vw; */
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-left: 6vw;
}
.checkout_button {
  position: absolute;
  right: 20px;
  top: 50px;
}
