.cart-page {
  background-color: #fff;
  position: relative;
  min-height: 100vh;
  height: 100%;
  overflow: hidden;
  color: #fcc907;
}
.cart-page h1 {
  color: #000000;;
  font-family: Marcellus;
  text-align: center;
  /* padding-bottom: 3vh; */
}
.cart-card {
  width: 300px;
}
.price-data {
  position: absolute;
  color: #fcc907;
  font-family: Nunito Sans;
  bottom: 5px;
  font-family: 2em;
  display: flex;
}
.cart-container {
  display: flex;
  flex-direction: row;
  float: left;
  width: max(25vw, 300px);
  justify-content: flex-start;
  margin-top: 20px;
  padding-left: 5px;
  padding-bottom: 80px;
}
.add-more-cards {
  width: 300px;
  height: 400px;
  background: transparent;
  border: 2px solid #fcc907;
  border-radius: 10px;
  display: flex;
  padding: 20px;
  color: #fcc907;
  float: right;
  text-align: center;
  position: absolute;
  top: 220px;
  right: 1%;
  font-family: Marcellus;
}
.payment-modal {
  /* width: 80vw; */
}
.cartTitle{
  max-height: 295px;
  min-height: 171px;
  background:#FF90E8;
  display: flex;
  justify-content: center;
}
.heading{
      position: relative;
    /* top: 50%; */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 128px;
    line-height: 156px;
    color: #FFFFFF;
    /* border: 3px solid #000000; */
    text-shadow: 4px 8px 0px #000000;
    margin: 0 30px;
}
.star1{
  max-width: 84px;
  max-height: 80px;
  position: relative;
  top: 30%;
}
.form-section {
  background-color: #FE6263;
  position: relative;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 60px 60px 0px 60px;
  width: 1000px;
  height: 700px;
  margin: auto;
  position: relative;
  color: #000;
  top: 40%;
  margin-top: 2vh;
  background: #00CCF5;
  border: 2px solid #000000;
  box-shadow: 4px 6px 0px #000000;
  border-radius: 4px;
  font-family: Montserrat;
  align-items: center;
}
.container p{
  font-size: 1.4em;
  font-weight: 500;
  text-align: left;
}
.container h2 {
  font-size: 2.4em;
  font-weight: 600;
}

/* Full-width input fields */

.container input,
.container option,
.container select {
  width: 70%;
  padding: 15px;
  display: inline-block;
  border: 2px solid #000000;
  background: #f7f7f7;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  margin-bottom: 15px;
}
.container .text {
  text-align: left;
}
.container button {
  text-align: center !important;
  color: black;
  padding: 14px 20px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  opacity: 1;
  font-size: 16px;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  width: 20%;
  background: #F2FF00;
  border: 2px solid #000000;
  box-shadow: 4px 6px 0px #000000;
  border-radius: 4px;
}

.button_div {
  margin-top: 35px;
}

.container input[type='text']:focus,
.container input[type='password']:focus,
.container input[type='phone']:focus,
.container select:focus {
  background-color: #ddd;
  outline: none;
}



.title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  align-items: center;
  color: #000000;
  width: 70%;
}


.star3 {
  width: 120px;
  height: 80px;
  margin-left: -540px;
  margin-top: -640px;
  position: absolute;
}

.cube1 {
  width: 103px;
  height: 124px;
  margin-left: 534px;
  margin-bottom: 10px;
  position: relative;
}

.submit {
  min-width: 200px;
  background-color: #ffcf00;
}

.submit:hover {
  transform: translate(4px, 6px);
  box-shadow: 0px 0px 0px;
}


@media only screen and (max-width: 1035px) {
  .container {
    width: 90vw;
    align-items: center;
    padding: 157px 29px 44px 14px;
  }

  .star,
  .cube {
    display: none;
  }
}

@media only screen and (max-width: 375px) {
  .title {
    font-size: 15px;
  }

  .container input,
  .container select,
  .container option {
    padding: 6px;
  }

}
.qr {
  position: relative;
  height: 100px;
}
.star2{
  max-width: 84px;
  max-height: 80px;
  position: relative;
  top: 30%;
}
.cartInfo{
  max-height: 585px;
  min-height: 494px;
  background: #685EDA;
}
.cartInfoHeading{
  font-family: Montserrat;
font-size: 36px;
font-weight: 700;
line-height: 44px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;
max-width: 697px;
max-height: 88px;
position: relative;
top: 5vh;
left: 5vw;
}
.cartInfoDescription{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;
text-align: justify;
position: relative;
top: 10vh;
left: 5vw;

color: #FFFFFF;
max-width: 656px;
max-height: 212px;
}
.knowMoreBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 36px;
  gap: 4px;

  position: relative;
  /* width: 10vw; */
  /* height: 57px; */
  left: 5vw;
  top: 15vh;

  background: #F2FF00;
  border: 1px solid #000000;
  box-shadow: 4px 6px 0px #000000;
  border-radius: 4px;
}

.knowMoreBtn:hover {
  box-shadow: 0px 0px 0px;
}

.knowMoreBtn p {
  /* width: 97px; */
  height: 33px;

  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  /* identical to box height */


  color: #000000;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.cartImg1{
 max-width: 405.31px;
max-height: 214.67px;
position: relative;
}
.cartImg2{
 max-width: 405.31px;
max-height: 214.67px;
position: relative;
    right: 13px;
    top: -50px;
}
.imgDiv{
  position: absolute;
  right: 5vw;
  top: 240px;
}
.col-12 {
}
.add-more-cards span {
  font-size: 4em;
  margin: 0 auto;
  font-family: Marcellus;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-more-cards h3 {
  display: flex;

  font-family: Marcellus;
  justify-content: center;
  align-items: center;
}
.purchase_details {
  padding-top: 15vh;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.reg-text {
  position: absolute;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  text-transform: capitalize;
  top: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--bs-yellow);
  margin-top: 1.5rem !important;
}
.reg-form {
  position: relative;
  display: flex;
  flex-direction: column;
  top: 70px;
  margin: 40px;
  height: 200px;
}
.register-btn {
  color: #000;;
  background-color: #fcc907;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  text-transform: capitalize;
  padding: 0.75rem;
  align-self: center;
  margin-bottom: 1rem;
}

.text input {
  width: 100%;
  height: 0px;
  margin: 10px auto;
  border: none;
  outline: none;
}
hr {
  position: relative;
  top: -10px;
  opacity: 0.5;
}
.terms label {
  display: block;
  padding-left: 25px;
  font-family: sans-serif;
  font-size: 12px;
  color: grey;
  text-indent: -18px;
}
.register-button {
  position: absolute;
  top: 100px;
}
.largen:active {
  transform: scale(2);
}
@media screen and (max-width: 768px) {
  .heading{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 78px;
top: 30%;
margin: 0 15px;
  }
  .cartInfoHeading{
    font-weight: 700;
font-size: 18px;
line-height: 22px;
left: auto;
display: block;
text-align: center;
padding: 0 2vw;
  }
  .cartInfoDescription{
font-weight: 500;
font-size: 10px;
line-height: 12px;
text-align: center;
left: auto;
display: block;
padding: 0 2vw;
  }
  .imgDiv{
    display: grid;
    justify-content: center;
    position: relative;
    top: auto;
    left: 2vw;
    width: 100vw;
  }
  .cartImg2{
            transform: rotate(-273.81deg);
    right: 48px;
    top: 34px;
        max-width: 205.31px;
    max-height: 116.67px;
  }
  .cartImg1{
        transform: rotate(-266.81deg);
    top: 148px;
    left: 32px;
    max-width: 205.31px;
    max-height: 114.67px;
    margin-top: 20px;
  }
  .knowMoreBtn{
    left: auto;
    display: block;
    margin: auto;
  }
  .cart-container {
    width: 260px;
  }
  .cart_cards {
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 0 !important;
    margin-right: 30px;
  }
  .add-more-cards {
    width: 300px;
    height: 400px;
    position: relative;
    top: 98%;
    right: 1%;
  }
  .checkout_button {
    display: flex;
    position: relative;
    width: 100vw !important;
    justify-content: center;
    padding-bottom: 20px;
    margin-top: 15px;
    margin-left: 6vw !important;
    right: 10px !important;

    width: 30vw;
    padding-left: 10vw;
  }
  .purchase_details {
    padding-top: 15vh;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
}

.cart_cards {
  display: flex;
  /* padding: 2vw; */
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-left: 6vw;
}
.checkout_button {
  position: absolute;
  right: 20px;
  top: 50px;
}

.price-info {
  color: #000;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 1.6em;
  text-transform: capitalize;
  padding-top: 1rem;
  padding-bottom: 1rem;
  align-self: center;
}