.footer-container {
  font-family: 'Montserrat';
  background-color: #fff;
  padding-bottom: 10px;
  display: grid;
  grid-template-columns: 4fr 6fr;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  z-index: 999;
  border: 2px solid #000;
}
.image {
  width: 500px;
  /* height: 500px; */
}
/* Social Icons */
.social-media {
  margin-top: 10px;
}
.social-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  /* justify-content: space-evenly; */
  justify-content: flex-start;
  margin-bottom: 10px;
  width: 50%;
  padding-left: 0;
  height: fit-content + 10px;
}

.social-icon-link {
  color: #fff;
  font-size: 21px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  align-self: center;
  text-align: center;
  border: 2px solid #000000;
  box-shadow: 4px 6px 0px #000000;
}
.social-icon-link:hover {
  color: #fff;
  transform: translate(4px, 6px);
  box-shadow: 0px 0px 0px;
}
.facebook {
  background: #00ccf5;
  padding: 5px;
  margin: 10px;
  margin-left: 0;
}
.facebook:hover {
  background: #4267b2;
}
.instagram {
  background: #fe6263;
  padding: 3px;
  margin: 10px;
}
.instagram:hover {
  background: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}
.youtube {
  background: #685eda;
  padding: 4px;
  margin: 10px;
}
.youtube:hover {
  background: #ff0000;
}
.linkedin {
  background: #14f0b9;
  padding: 5px;
  margin: 10px;
}
.linkedin:hover {
  background: #0a66c2;
}
.footer {
  background-color: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  /* border-right: 1px solid #000000; */
}

.footer section {
  width: 100%;
  vertical-align: top;
  align-items: center;
}

.image {
  /* height: 400px; */
  width: 500px;
}

/* contact Section */
.contact-section {
  padding-left: 2rem;
  border-left: 2px solid #000000;
  margin-top: 20px;
}

.contact-form {
  display: flex;
  flex-direction: row;
}
.contact-heading {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 44px;
  /* identical to box height */
  margin-bottom: 10px;
  color: #000000;
}

.contact-text {
  resize: none;
  width: 65%;
  height: 100px;
  background: #fcfcfc;
  border: 2px solid #000000;
  border-radius: 8px;
  padding: 10px;
}
.contact-text:active {
  border: 2px solid #ffc900;
}

textarea::placeholder {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  color: #838383;
  position: absolute;
  /* background-color: #f3f3f3; */
}
.contact-submit-btn {
  width: 20%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  gap: 4px;
  background: #ffcf00;
  border: 2px solid #000000;
  box-shadow: 4px 6px 0px #000000;
  border-radius: 4px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  /* identical to box height */
  margin-left: 20px;
  color: #000000;
}

.contact-submit-btn:hover {
  transform: translate(4px, 6px);
  box-shadow: 0px 0px 0px;
}

.contact-info {
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact-details {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 36px;
  color: #000000;
}
@media screen and (max-width: 1000px) {
  .footer-container {
    display: flex;
    flex-direction: column-reverse;
  }
  .contact-heading {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .contact-section {
    padding-top: 1rem;
    padding-left: 0rem;
    width: 80%;
    border-bottom: 2px solid #000000;
    border-left: 0px solid #000000;
  }
  .contact-info {
    width: 100%;
  }
  .contact-submit-btn {
    width: 100px;
  }

  .contact-details {
    font-size: 0.95rem;
  }

  textarea::placeholder {
    font-size: 14px;
  }

  .facebook {
    padding: 8px;
    /* padding-top: -1px; */
  }
  .instagram {
    padding: 8px;
    /* padding-top: -1px; */
  }
  .youtube {
    padding: 8px;
  }
  .linkedin {
    padding: 8px;
    /* padding-top: -1px; */
  }
  .fab {
    position: relative;
    top: -4px;
  }
}
@media screen and (max-width: 768px) {
  .image {
    /* height: 300px; */
    width: 300px;
    height: auto;
  }
}
