.navbar {
  background: #ffffff;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  width: 100vw;
  border: 2.25px solid #000000;
  padding-top: 0rem;
  padding-bottom: 0rem;
}

ul {
  margin-bottom: 0rem !important;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100vw;
  max-width: 1500px;
  padding-right: 15vw;
  overflow: hidden;
}

.navbar-icon {
  height: 100%;
  padding-left: 2vw;
  padding-right: 2vw;
  border-right: 2px solid #000000;
  display: flex;
  align-items: center;
  justify-items: center;
}

.add-shadow {
  box-shadow: 0px 2px 15px 0px #0e001fb2;
}

.navbar-logo {
  color: rgb(243, 243, 243);
  justify-self: start;
  margin-left: 10px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.fa-typo3 {
  margin-left: 0.5rem;
  font-size: 1.8rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(8, auto);
  grid-gap: 0px;
  list-style: none;
  text-align: center;
  width: 80vw;
  justify-content: center;
  height: 100%;
}

.cartBtn {
  position: absolute;
  top: 25px;
  right: 170px;
  /* margin-left: 100px; */
  color: #000;
  /* color: white; */
  background: transparent;
  font-size: 1.4em;
  outline: none;
  border: none;
}

.nav-item {
  height: 100%;
}

.img {
  height: 80px;
  width: 100px;
  top: -3px;
  color: #020202;
  left: 20px;
  position: absolute;
}

.nav-links {
  height: 100%;
  color: #000;
  height: 100%;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 29px;
  border-radius: 0 !important;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  margin-right: 40px;
  padding-left: 2rem;
  padding-right: 2rem;
}

.nav-links:hover {
  background: #ff90e8;
  color: #000 !important;

}

.target {
  background: #ff90e8;
}

.fa-bars {
  color: rgb(0, 0, 0);
  font-size: 1.55rem;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

.sign {
  margin-right: -30px;
  padding: 4px 20px;
}

.navbar {
  border: 2px solid #000;
  width: 100%;
}

.nav-register-btn {
  background: #00ccf5;
  height: 100%;
  color: #000;
  border: 2px solid #000;
  position: absolute;
  width: 12.5%;
  right: 0px;
  height: 100%;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 29px;
  border-radius: 0 !important;
  color: #000000;
}

.fas {
  color: #000;
  font-size: 1.25rem;
}

@media screen and (max-width: 1200px) {
  .navbar {
    height: 85px;
  }

  .nav-links {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    font-size: 1.05rem;
  }

  .nav-register-btn {
    font-size: 1rem;
  }
}

@media screen and (max-width: 960px) {

  .NavbarItems {
    position: relative;
  }

  .img {
    height: 80px;
    width: 80px;
    top: 3px;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: auto;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    border: 2px solid #000;

  }

  .nav-item {
    width: fit-content;
    height: 4rem;
    font-size: 3rem;
    text-align: center;
    margin: 0 auto 10px auto;
  }

  .nav-menu.active {
    padding-left: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #fff;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    margin: 0 auto 10px auto;
    justify-self: center;
  }


  .nav-register-btn {
    position: inherit;
    margin-left: 20px;
    width: fit-content+38px;
    height: 4rem;
    text-align: center;
    padding: 1rem;
    margin: 0 auto;
    justify-self: center;
    width: fit-content;
  }


  .nav-links:hover {
    background: #ff90e8;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;

  }

  .menu-icon {
    display: flex;
    position: absolute;
    align-items: center;
    justify-items: flex-end;
    right: 8vw;
    font-size: 4rem;
    cursor: pointer;
  }

  .sign {
    position: absolute;
    top: 400px;
  }

  .fa-times {
    color: #000;
    font-size: 2rem;
  }

  .fa-bars {
    color: #000;
    font-size: 2rem;
    align-self: center;
    justify-self: center;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #242424;
    transition: 250ms;
  }

  .cartBtn {
    bottom: 0 !important;
    right: 70px;
    /* left: 0; */
    text-decoration: none;
    /* top: 0; */
    display: block;
    position: fixed;
  }
}

.empty_cart {
  color: white !important;
}

@media screen and (max-width: 500px) {

  .navbar {
    height: 50px;
  }

  .icon-container a svg {
    width: 50px;
  }

  .nav-menu.active {
    top: 46px
  }
}