#sponsor-card {
  width: 300px;
  height: 380px;
  margin-right: 5%;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
}

.cardImg img {
  border-top: 2px solid black;
  object-fit: contain;
  padding: 1rem;
  width: 241px;
  height: 280px;
  transition: all 0.5s ease;
  margin-top: 90px;
}


/* Add rounded corners to the top left and the top right corner of the image */
/* Add some padding inside the card container */

#cardTitle {
  height: 2.5rem;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 41px;
  width: 240px;
  color: #000;
  position: absolute;
  text-align: center;
  justify-content: center !important;
  text-transform: uppercase;
}

@media screen and (max-width: 700px) {
  #sponsor-card {
    /* max-width: calc(45% - 1em); */
    width: 280px;
    height: 400px;
    display: flex;
    margin-right: 0%;
  }

  .parent_wrapper {
    width: 100%;
  }

  .cardImg {
    width: 225px;
    height: 270px;
    margin: 33px 0px 0px 0px;
  }

  .cardImg img {
    width: 235px;
    height: 270px;
  }

  #cardTitle {
    position: absolute;
    /* font-size: 1rem; */
    justify-content: center;
  }
}
