.event_page {
  background: #f5f5f5 !important;
  overflow: hidden;
}
.type2{
  width: 74px;
  height: 22px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: left;
  margin-left: 35px;
  margin-top: 4px;
}
.tabs {
  color: #fff;
  width: 50vw;
  margin-top: -10px;
  text-align: left;
  position: relative;
}
.card-container {
  max-width: 64vw;
  position: relative;
}

/*
flip card
*/
.card-flip > div {
  backface-visibility: hidden;
  transition: transform 300ms;
  transition-timing-function: linear;
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.card-front {
  transform: rotateY(0deg);
}

.card-back {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
}

.card-flip:hover .card-front {
  transform: rotateY(-180deg);
}

.card-flip:hover .card-back {
  transform: rotateY(0deg);
}
.workshop-card-img-div h3 {
  position: absolute;
  top: 20px;
  color: #fcc907;
  left: 18px;
}
.card-div h3 {
  position: absolute;
  top: 20px;
  color: #fcc907;
  left: 18px;
}
.card {
  position: relative;
  width: 388px;
  height: 327px;
  top: 66px;
  border: 2px solid #000000;
  box-shadow: 6px 8px 0px #000000;
  border-radius: 19px;
  overflow: hidden;
}
.card:hover {
  transition-duration: 150ms;
  box-shadow: 0px 12px 24px 0px #00000029;
  transition: all 0.4s ease;
}
.separator {
  display: flex;
  align-items: center;
}

.separator .line {
  height: 0.5px;
  margin-top: 15px;
  flex: 2;
  margin: 10px;
  background-color: #ffffff;
}

.separator h2 {
  font-family: Nunito Sans;
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0em;
  margin-top: 15px;
}
.card-img {
  position: relative;
  height: 220px;
  width: 100%;
}
.event-cards {
  display: flex;
  margin: 0 auto;
  justify-content: flex-start;
  width: 80vw;
}
.all-events {
  display: flex;
  width: 30vw;
  padding-left: 20px;
  margin: 0 auto;
}
.card-action {
  perspective: 500px;
}
.card-action:hover {
  transform: rotate3d(180deg);
}
.workshop-cards {
  display: flex;
  /* justify-content: space-around !important; */
  margin-top: 20px;
  width: 80vw;
}
.tabs {
  font-size: 1em;
  margin-top: 20px;
}
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
  color: #ffffff;
  text-decoration: none;
}
.btnView {
  color: #fff;
  margin: 0 auto;
  text-align: center;
  position: relative;
  text-decoration: underline;
  font-family: Nunito Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  position: absolute;
  width: 231px;
  height: 32px;
  left: 70px;
  top: 219px;
  bottom: 60px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
  text-decoration: none;
  color: #ffffff;
}
.btnView:hover {
  color: #000;
  font-weight: 900;
}
.addToCart {
  margin: auto;
  font-family: 'Montserrat';
  font-weight: 400;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 102px;
  color: #000;
  padding: 8px 10px;
  top: 153px;
  font-size: 1.4em;
  border: 2px solid #000000;
  border-radius: 0px 0px 22px 22px;
}
.addToCart:hover {
  font-weight: 600;
  color: black;
}
.addToCartBtn {
  margin: auto;
  box-sizing: border-box;
  position: relative;
  width: 390px;
  height: 55px;
  padding: 8px 10px;
  top: 130px;
  font-size: 1.4em;
  color: #fff;
  border: 2px solid #000000;
  border-radius: 0px 0px 22px 22px;
}

.addToCartBtn:hover {
  color: #ffffff;
}
.card-content {
  padding: 10px 20px;
  color: #fff;
}
.card-title {
  color: #fff !important;
  position: absolute;
  width: 386px;
  height: 67px;
  top: 6px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800 !important;
  font-size: 3em;
  text-align: center;

  color: #ffffff;
}
.lineTitle {
  position: absolute;
  width: 137px;
  height: 0px;
  left: 123px;
  margin-top: 5px;
  border: 0.5px solid #ffffff;
}
.viewProbImg {
  position: absolute;
  width: 28px;
  height: 28px;
  left: 30px;
  top: 216px;
  bottom: 65px;
}
.type {
  width: 121px;
  height: 29px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: left;
  margin-left: 35px;
  margin-top: 34px;
}
.front-title {
  width: 280px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 37px;
  text-align: left;
  color: #000000;
  margin-left: 35px;
  margin-top: 6px;
}
.prizes-front {
  width: 249px;
  height: 34px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 34px;
  color: #000000;
  text-align: left;
  margin-left: 35px;
  margin-top: 0px;
}
.front-price {
  width: 80px;
  height: 22px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
  text-align: left;
  margin-left: 35px;
  margin-top: 24px;
}
.three-dots1 {
  position: absolute;
  width: 15px;
  height: 17px;
  left: 296px;
  bottom: 43px;
  background: #ffffff;
}
.three-dots2 {
  position: absolute;
  width: 15px;
  height: 17px;
  left: 316px;
  bottom: 43px;
  background: #ffffff;
}
.three-dots3 {
  position: absolute;
  width: 15px;
  height: 17px;
  left: 336px;
  bottom: 43px;
  background: #ffffff;
}
.front-arrow {
  position: absolute;
  height: 60px;
  left: 310px;
  top: 17px;
}
.front-img {
  width: 103px;
  height: 80.14px;
  margin-left: 247px;
  margin-top: -37px;
}
.workshop-card-title {
  margin: 0 auto;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-top: 10px;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
}
.card .contents {
  position: absolute;
  width: 314px;
  height: 105px;
  left: 36px;
  top: 71px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 125.3%;
  text-align: justify;
  color: #fff;
  display: block;
}

.MuiSlider-root {
  color: #ffffff;
}
#vertical-tab-0,
#vertical-tab-1,
#vertical-tab-2,
#vertical-tab-3,
#vertical-tab-4,
#vertical-tab-5,
#vertical-tab-6 {
  font-family: Manrope;
  font-size: 0.4em;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  padding: 15px;
  align-items: flex-start;
  text-align: left;
  position: relative;
  padding-left: 40px;
  color: #f9f4f5;
  text-transform: capitalize;
}
#vertical-tab-0:focus,
#vertical-tab-1:focus,
#vertical-tab-2:focus,
#vertical-tab-3:focus,
#vertical-tab-4:focus,
#vertical-tab-5:focus,
#vertical-tab-6:active {
  color: #ffffff;
  border-right: none;
}
#vertical-tab-0[aria-selected='true'],
#vertical-tab-1[aria-selected='true'],
#vertical-tab-2[aria-selected='true'],
#vertical-tab-3[aria-selected='true'],
#vertical-tab-4[aria-selected='true'],
#vertical-tab-5[aria-selected='true'],
#vertical-tab-6[aria-selected='true'] {
  color: #ffffff;
}
.MuiTabs-indicator {
  width: 0px;
  background: #ffffff;
}
.MuiButtonBase-root-MuiTab-root {
  align-items: flex-start;
  margin-right: 20px;
}

.sidebar {
  display: block;
}
.workshop-card-img-div {
  box-sizing: border-box;
  width: 100%;
  -moz-box-sizing: border-box;
  background-color: #170231;
  -webkit-box-sizing: border-box;
}
.showOnMobile {
  display: none;
}
#menuBtn {
  display: none;
}
.cart-btn {
  width: 90px;
  height: 35px;
  position: absolute;
  margin: auto;
  border-radius: 40px;
  right: 18px;
  text-align: center;
  margin-top: 18px;
  padding: 5px;
  text-decoration: none;
  background: #ffffff;
  border: 1px solid #ffffff;
  font-weight: 700;
}
.cart-btn span {
  text-decoration: none;
}
.cart-btn:hover {
  box-shadow: 0px 0px 18px 0px #ffffff !important;
}
.fees {
  color: #ffffff;
  font-size: 1em;
  position: relative;
  text-align: left;
}
.trash-btn {
  display: inline-block;
}
.cart {
  width: 100px;
  font-size: 1.6em;
  color: #ffffff;
  background: transparent;
  padding: 3px;
  outline: none;
  position: fixed;
  border: none;
  bottom: 80%;
  cursor: pointer;
  z-index: 5;
  margin: auto;
}
.cart:hover {
  background: #ffffff;
  color: #27094b;
  transition: all 0.6s ease-in-out;
}
.cart-modal {
  display: inline-block;
  overflow-x: hidden;
  margin: auto;
}
#modal-modal-title {
  color: #fff;
  font-family: Montserrat;
  border-bottom: 2px solid #ffffff;
  padding-bottom: 20px;
}
#modal-modal-description {
  color: #ffffff;
  font-family: Montserrat;
  border-bottom: 2px solid #ffffff;
}
.table {
  background: #27094b;
  color: #fff;
}
.btn-danger {
  background: #fff;
  color: #1d033e;
  margin-right: 30px;
  margin-top: 20px;
}
.btn-danger:hover {
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  transition: all 0.3s ease-in-out;
}
.btn-primary {
  background: #ffffff;
  color: #1d033e;
  margin-right: -30px;
  margin-top: 20px;
}
.btn-primary:hover {
  background: transparent;
  color: #fff;
  border: 1px solid #ffffff;
  transition: all 0.6s ease-in-out;
}
.btns {
  padding: 10px;
}
.payment-modal {
  width: 800px;
  overflow-x: hidden;
  margin: auto;
  font-family: manrope;
}
.workshop-modal {
  width: 80vw;
  background: #35096b;
  opacity: 1;
  display: flex;
  border-radius: 15px;
  height: 300px;
  padding: 20px;
  margin: auto;
}
.workshop-card-img {
  object-fit: cover;
  position: relative;
  height: 250px;
  width: 100%;
  background-color: #170231;
}
.workshop-card-img:hover {
  cursor: pointer;
}
.workshop-modal .guest-details {
  float: right;
  display: flex;
  position: absolute;
  font-family: Montserrat;
}
.workshop-modal .guest-details p {
  display: flex;
  float: right;
  color: #fff;
  margin: 45px;
  font-size: 1.3em;
  font-family: Work Sans;
}
.workshop-modal .guest-details h2 {
  color: #000;
  font-size: 1.6em;
  position: absolute;
  left: 293px;
  font-family: Montserrat;
}
.workshop-modal .guest-details h3 {
  color: #000;
  font-size: 1.2em;
  position: absolute;
  left: 293px;
  bottom: 0;
  font-family: Montserrat;
}
.time {
  margin-left: 250px;
}
.workshop-modal .guest-details span {
  color: #fff;
  font-size: 1em;
  font-family: Work Sans;
}
.workshop-modal-img {
  object-fit: cover;
  position: relative;
  height: 250px;
  width: 250px;
}
#modal-modal-description ul li {
  display: flex;
  padding: 20px;
}
#modal-modal-description ul li span {
  color: #fff;
  font-family: manrope;
  font-size: 1.4em;
}
#modal-modal-description h3 {
  font-family: manrope;
  font-size: 1.4em;
  margin-top: 3px;
  padding-left: 20px;
}
.w-card {
  margin-right: 50px;
  margin-top: 10px;
  max-width: 450px;
  height: 420px;
  transition-duration: 300ms;
  transition-property: transform;
  transition-timing-function: ease-out;
  transform: rotate3d(90);
  border-radius: 10px;
  background: #27094b;
  text-align: center;
  box-shadow: 0px 24px 48px 0px #0000005c;
}
.w-card:hover {
  transition-duration: 150ms;
  box-shadow: 0px 12px 24px 0px #00000029;
  transition: all 0.4s ease;
}
#modal-modal-description p {
  font-family: manrope;
  font-size: 1.4em;
  padding-left: 20px;
}
#modal-modal-description a {
  font-family: manrope;
  font-size: 1.4em;
  text-decoration: none;
  padding: 20px;
  color: #fff;
}
.workshopCard {
  width: 295px;
  height: 420px;
  margin-right: 5%;
  margin-bottom: 5%;
  background: #00ccf5;
  border: 2px solid #000000;
  box-shadow: 4px 8px 0px #000000;
  border-radius: 19px;
  left: 95px;
  position: relative;
}

.workshopCard:hover {
  box-shadow: 0px 0px 0px;
  transition: all 0.4s ease;
}
.workshopCardImg {
  object-fit: cover;
  width: 241px;
  height: 240px;
  margin: 70px 0px 0px 25px;
  overflow: hidden;
  background: #ffffff;
  border: 2px solid #000000;
  box-shadow: 4px 0px 0px #000000;
  border-radius: 19px;
  transition: all 0.5s ease;
}

.workshopCardImg:hover {
  box-shadow: 0px 0px 0px;
  transition: all 0.4s ease;
}

.workshopCardImg img {
  object-fit: cover;
  width: 241px;
  height: 240px;
  background: #ffffff;
  border-radius: 19px;
  transition: all 0.5s ease;
}

.workshopCardImg img:hover {
  transform: scale(1.08);
  opacity: 0.8;
}
.positionWorkshop {
  height: 29px;
  position: absolute;
  width: 302px;
  top: 330px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  text-align: center;

  color: #121212;
}
.positionWorkshopType {
  height: 29px;
  position: absolute;
  width: 302px;
  top: 18px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}
.positionWorkshopPrice {
  height: 29px;
  position: absolute;
  width: 302px;
  top: 40px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;

  color: #000000;
}
.cardTitleWorkshop {
  height: 33px;
  position: absolute;
  width: 302px;
  top: 372px;
  text-align: center;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  /* identical to box height */

  color: #121212;
}
@media screen and (max-width: 1006px) {
  .btnView {
    font-size: 15px !important;
  }
  .event_page {
    background-color: #1d033e;
  }
  .type, .type2, .front-title, .prizes-front, .front-price{
    margin-left: 12px;
  }
  .type2{
    font-size: 17px;
  }
  .prizes-front, .front-price{
    font-size: 22px;
  }
  .front-img{
    margin-left: 151px;
  }
  body {
    background: #1d033e;
  }
  .event-cards {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .sidebar {
    display: none;
  }
  .showOnMobile {
    display: block;
    background: #1d033e;
  }
  .card {
    width: 60vw;
    margin-right: -50px;
    flex-wrap: wrap;
    margin-top: 40px;
  }
  .workshop-cards {
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -15px;
  }
  .tabs {
  }
  #menuBtn {
    display: block;
    font-size: 2em;
    position: absolute;
    margin-right: 20px;
  }
  .mobile {
    max-width: 480px;
    margin: auto;
    text-align: center;
    padding: 20px;
    list-style: none;
    background: #1d033e;
  }
  .btn-danger {
    margin-bottom: 30px;
  }
  .workshop-modal {
    width: 80vw;
    background: #35096b;
    opacity: 1;
    overflow: hidden;
    height: 75vh;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: auto;
  }
  .workshop-card-img {
    object-fit: cover;
    position: relative;
    height: 280px;
    width: 100%;
    background-color: #170231;
  }
  .workshop-modal .guest-details {
    margin: auto;
    width: 60vw;
    text-align: center;
    left: 40px;
    display: contents;
    flex-direction: column;
    position: absolute;
    font-family: Work Sans;
  }
  .workshop-modal .guest-details p {
    color: #fff;
    margin: auto;
    position: relative;
    font-size: 1.2em;
    text-align: center;
    font-family: Work Sans;
  }
  .workshop-modal .guest-details h2 {
    color: #000;
    font-size: 1.6em;
    position: relative;
    right: 0px;
    left: 0;
    font-family: Montserrat;
  }
  .workshop-modal .guest-details h3 {
    color: #000;
    font-size: 1em;
    bottom: -40px;
    left: 0;
    display: contents;
    font-family: Montserrat;
  }
  .time {
    margin-top: 40px;
  }
  .workshop-modal .guest-details .timing {
    flex-direction: column;
    display: flex;
    margin-top: 120px;
    position: relative;
  }
  .workshop-modal .guest-details span {
    color: #fff;
    font-size: 1em;
    font-family: Work Sans;
  }
  .workshop-modal-img {
    object-fit: cover;
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }
  .mobile h2 {
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6em;
    line-height: 20px;
    color: #fcc907;
  }
  .cart-btn {
    width: 90px;
    height: 35px;
    position: absolute;
    right: 30px;
  }
  .mobile ul {
    color: #fff;
    padding: 20px;
    list-style: none;
    font-family: manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
  }
  .mobile li {
    padding: 20px;
    margin-left: 14px;
  }
  .mobile a {
    text-decoration: none;
    color: #fff;
  }
  .mobile a:hover {
    text-decoration: none;
    color: #fcc907;
  }
  .mobile li .iconify {
    color: #fff;
    font-size: 1.6em;
  }
  .section {
    margin: 30px;
    padding: 20px;
    position: relative;
  }
  .section CartModal {
    margin-top: -30px;
  }
  .section .back-btn {
    font-family: Nunito Sans;
    font-size: 14px;
    font-style: normal;
    position: relative;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    z-index: 1;
    width: 100px;
    height: 40px;
    left: 38%;
    border: 2px solid #fcc907;
    color: #fcc907;
    padding: 10px;
    background: transparent;
    text-decoration: none;
    border-radius: 6px;
    position: absolute;
    cursor: pointer;
  }
  .section .back-btn:hover {
    background: #fcc907;
    color: #fff;
  }
  .trash-btn {
    display: none;
  }
  #modal-modal-description ul li {
    display: flex;
    padding: 0px;
  }
  #modal-modal-description ul li span {
    color: #fff;
    font-family: manrope;
    padding-right: 5px;
    font-size: 0.8em;
  }
  #modal-modal-description h3 {
    font-family: manrope;
    font-size: 0.9em;
    padding-left: 4px;
    margin-top: 3px;
  }
  #modal-modal-description p {
    font-family: manrope;
    font-size: 0.8em;
  }
  #modal-modal-description a {
    font-family: manrope;
    font-size: 1em;
    text-decoration: none;
    color: #fff;
  }
  .w-cart {
    bottom: -58px;
    right: 0;
    left: 0;
  }
}
@media screen and (max-width: 700px) {
  .workshop-modal .guest-details p {
    color: #fff;
    margin: auto;
    position: relative;
    font-size: 0.9em;
    text-align: center;
    font-family: Work Sans;
  }
  .workshopCard {
    /* max-width: calc(45% - 1em); */
    width: 280px;
    height: 410px;
    margin-left: -30px;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
  }
  .workshopCardImg {
    width: 225px;
    height: 230px;
  }

  .workshopCardImg img {
    width: 235px;
    height: 230px;
  }
  .positionWorkshop {
    position: absolute;
    top: 330px;
    width: 280px;
  }
  .positionWorkshopType {
    position: absolute;
    top: 18px;
    width: 280px;
  }
  .positionWorkshopPrice {
    position: absolute;
    top: 40px;
    width: 280px;
  }
  .cardTitleWorkshop {
    position: absolute;
    top: 360px;
    width: 280px;
  }
}
@media screen and (max-width: 500px) {
  .workshop-modal .guest-details p {
    color: #fff;
    margin: auto;
    position: relative;
    font-size: 0.9em;
    text-align: center;
    font-family: Work Sans;
  }
}
